@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #515151;
}
#ext_menu-1 .mbr-navbar__section {
  background: #515151;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1 .mbr-navbar__items a {
  font-size: 12px;
}
#msg-box5-u .mbr-header__text {
  color: #ffffff;
}
#msg-box5-u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-u .mbr-article {
  color: #ffffff;
}
#msg-box4-v .mbr-header__text {
  color: #222222;
  font-size: 16px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-v .mbr-article {
  color: #ffffff;
}
#msg-box4-v .mbr-article P {
  color: #f51613;
  font-size: 14px;
  text-align: center;
}
#msg-box5-w .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#msg-box5-w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-w .mbr-article {
  color: #ffffff;
}
#header1-m H1 {
  color: #222222;
  text-align: right;
}
#header1-m P {
  color: #222222;
  text-align: right;
}
#header1-m I {
  color: #f51613;
}
#msg-box3-n .mbr-header .mbr-header__text {
  text-align: center;
  color: #f51613;
  font-size: 36px;
}
#msg-box3-n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-n .mbr-article {
  color: #222222;
  text-align: center;
}
#msg-box3-n .mbr-article P {
  font-size: 21px;
}
#contacts1-y P {
  color: #f51613;
  text-align: left;
}
#contacts1-y A {
  color: #f51613;
}
#contacts1-y STRONG {
  font-size: 16px;
}
#ext_menu-p .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #515151;
}
#ext_menu-p .mbr-navbar__section {
  background: #515151;
}
#ext_menu-p .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-p .mbr-navbar__items a {
  font-size: 12px;
}
#ext_menu-t .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-t.mbr-navbar--stuck .mbr-navbar__section {
  background: #515151;
}
#ext_menu-t .mbr-navbar__section {
  background: #515151;
}
#ext_menu-t .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-t .mbr-navbar__items a {
  font-size: 12px;
}







#ext_menu-z .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-z.mbr-navbar--stuck .mbr-navbar__section {
  background: #515151;
}
#ext_menu-z .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-z .mbr-navbar__items a {
  font-size: 12px;
}
#header1-10 P {
  font-size: 16px;
}
#header1-10 H1 {
  font-size: 72px;
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-11 .mbr-header__text {
  color: #f51613;
}
#msg-box5-11 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-11 .mbr-article {
  color: #ffffff;
}
#msg-box5-11 .mbr-article P {
  color: #222222;
}
#msg-box5-11 .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
#msg-box4-12 .mbr-header__text {
  color: #ffffff;
  font-size: undefinedpx;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-12 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-12 .mbr-article {
  color: #ffffff;
}
#msg-box4-12 .mbr-article P {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-12 .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#msg-box5-13 .mbr-header__text {
  color: #ffffff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-13 .mbr-article {
  color: #ffffff;
}
#msg-box5-13 .mbr-article P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#header1-14 H1 {
  color: #222222;
  text-align: right;
}
#header1-14 P {
  color: #222222;
  text-align: right;
}
#header1-14 I {
  color: #f51613;
}
#msg-box3-15 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f51613;
  font-size: 36px;
}
#msg-box3-15 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-15 .mbr-article {
  color: #222222;
  text-align: center;
}
#msg-box3-15 .mbr-article P {
  font-size: 21px;
}
